<div class="card" style="max-width:200px">
    <img src="{{img}}" class="card-img-top" alt="{{title}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
        <p class="card-text"></p>
        <a href="#" class="btn btn-dark">Detalle</a>
        <a href="#" class="btn btn-primary" id="{{title}}">Agregar al Carrito</a>
    </div>
</div>
<script>
    document.getElementById('{{title}}').addEventListener("click", (e)=>{
        e.preventDefault();
        let http = new XMLHttpRequest();
        let url = 'http://localhost:8080/carts';
        let method = 'POST';
        http.open(method, url, true);
        http.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        let data = JSON.stringify({"id": "{{id}}"})
        http.send(data);
    });
</script>